 /* General styles */
* {
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


.header-container {
  width: 1272px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 37px 84px 47px;
}

.logo-icon {
    width: 234px;
    height: 49px;
    cursor: pointer;
}

nav {
  display: flex;
  margin-left: 255px;
  margin-right: 66px;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #262626;
  border-radius: 40px;
  padding: 9px 31px;
  transition: 0.5s;
}

nav a:hover {
    background-color: #4CE0D7;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
    transform: translateY(6px);
    transition: 0.5s;
}

.search-icon {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.search-icon:hover{
    background-color: #4CE0D7;
    border-radius: 90px;
    transition: background-color 0.5s, color 0.5s;
    transition: 0.5s;
}


.first-section {
  background-image: url('./assets/pexels-andrea-piacquadio-994234 1.png');
  width: 1272px;
  height: 559px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  margin-bottom: 73px;
  box-sizing: border-box;
  margin-left: 84px;
}


.Lux {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  margin-left: 57px;
  margin-bottom: 22px;
  color: #fff;
  text-transform: uppercase;
}

.first-section-img {
  margin-left: 57px;
  margin-bottom: 19px;
}

.first-section-content p:not(.Lux) {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  margin-left: 57px;
  color: #fff;
}

